<div class="row">     
	<div class="span7">
		<h2 style="margin-bottom: 20px">{{user}}'s {{L 'playlists'}}</h2>
		{{playlistListing}}
	</div>
	<div class="span2 offset1 text-right">
		{{#unless isMe}}
			<ul class="nav" style="margin-bottom: 35px">
				<li>
					<button class="btn btn-block btn-{{#if following}}success{{else}}primary{{/if}}" onclick="PROFILE.follow({{#if following}}true{{/if}})"><i class="icon-plus icon-white"></i> {{#if following}}{{L 'following'}}{{else}}{{L 'follow'}}{{/if}}</button>
				</li>
			</ul>
		{{/unless}}
		<img src="http://www.gravatar.com/avatar/{{gravatar}}?&s=160" class="img-polaroid" />
    	<h4 style="margin-bottom: 0">{{user}}</h4>
    	<small class="muted">{{storage}}</small>
	</div>
</div>
