<div id="renameSong" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>{{L "renameSong"}}</h3>
	</div>
	<form class="form-horizontal" style="margin:0" onsubmit="PLAYLIST.renameSongSubmit(event)">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="renameSongTitle" style="text-align:left;width:50px">{{L 'title'}}</label>
				<div class="controls" style="margin-left:60px">
					<input type="hidden" id="renameSongId" value="{{id}}" />
					<input type="text" id="renameSongTitle" class="span5" placeholder="{{L 'title'}}" value="{{title}}" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">{{L "rename"}}</button>
		</div>
	</form>
</div>
